<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenavToggle.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <h1>{{ title }}</h1>

        <span style="flex: 1 1 auto"></span>

        <div class="d-flex align-items-center">
            <!-- <small class="mr-2" style="height: 30px;">{{ username$ | async }} - {{ profile$ | async }}</small> -->
            <button mat-icon-button [matMenuTriggerFor]="accountMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #accountMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Sair</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>